body
{
    margin-left: 0%;
    height: 105%;
    width: 100%;
    transform-origin: top left;
    background-color: black;
}

/* ---------------------------------------------------------------- ALL ------------------------------------------------------------ */

.header
{
    width: 100%;
    height: 30%;
    transform: scale(1);
    z-index: 9;
    position:absolute;
}
.header_img
{
    width: 100%;
    margin-top: -2%;
}
.tab_holder
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transform: translate(0%,-110%);
}
.tab1
{
    width: 30%;
    height: 100%;
    transform: translate(150%,-11%) rotate(-10deg) scale(0.4);
}
.tab2
{
    width: 30%;
    height: 100%;
    transform: translate(100%,-25%) rotate(-4deg) scale(0.4);
}
.tab3
{
    width: 30%;
    height: 100%;
    transform: translate(50%,-30%) rotate(-2deg) scale(0.4);
}
.tab1_text
{
    color: aliceblue;
    font-size: 500%;
    transform: translate(70%,-235%);
    position: absolute;
}
.tab2_text
{
    color: aliceblue;
    font-size: 500%;
    transform: translate(60%,-235%);
    position: absolute;
}
.tab3_text
{
    color: aliceblue;
    font-size: 500%;
    transform: translate(55%,-235%);
    position: absolute;
}
.tab1_img
{
    width: 100%;
}
.tab2_img
{
    width: 100%;
}
.tab3_img
{
    width: 100%;
}

.main_color_svg
{
    fill:#2FA4FF !important;                                      /* main color */
}
.main_color_div
{
    background-color:#2FA4FF !important;                           /* main color */
}
.secondary_color
{
    background-color:black !important;                    /* secondary color */
}

/* ---------------------------------------------------------------- indes ------------------------------------------------------------ */


.background
{
    background-color:black;
    transform: translate(0%,-14%);
    position:absolute;
}
.background_img
{
    width: 100%;
    opacity: 0.2;
    transform: translate(0%,15%);
}
.background_avater
{
    width: 25%;
    transform: translate(50%,-180%);
    margin-top: 23%;
    opacity: 1;
}
.wrapper
{
    transform: translate(50%,-1050px)scale(1.5);
    left: 35%;
    font-size: 300%;
    position: absolute;
    color: #fff;
}
.multiText
{
    font-weight: 1000;
    color:deepskyblue;
    text-transform: capitalize;
}


.body
{
    transform: translate(0%,-7%);
}
.body_top_svg
{
    width: 100%;
    transform: translate(0%,40px);
}
.body_div
{
    padding-left: 2%;
    height: auto;
    transform: translate(0%,0%);
}
.body_bottom_svg
{
    width: 100%;
    z-index: 8;
    position: static;
    transform: translate(0%,-30px);
}
.answer
{
    color: #fff;
    font-size: 165%;
}
.who_I_am
{
    color: white;
    width: 80%;
    font-size: 25px;
    transform: translate(25%,-20%);
}
.other_places
{
    color: white;
    width: 80%;
    font-size: 35px;
    transform: translate(10%,-250px);
}
.logoholder
{
    width: 80%;
    height: auto;
    transform: translate(10%,-330px);
    position: absolute;
    display: flex;
}
.logo_1
{
    margin: 8%;
    height: 70%;
}
.logo_img
{
    width: 100%;
}

/* ---------------------------------------------------------------- about ------------------------------------------------------------ */



.background_for_about
{
    background-color: black;
    width: 100%;
    height: auto;
    margin-bottom: -10%;
    transform: translate(0%,0%) scale(1);
}
.categry_name_for_about_1
{
    color: #fff;
    font-size: 50px;
    transform: translate(0%,400%);
    margin-left: 4%;
}
.about_holder_1
{
    transform-origin: top;
    transform: translate(5%,0%);
    padding-top: 15%;
    width: 90%;
    padding-bottom: 18%;
    display: flex;
    flex-flow: wrap;
}


.Languages
{
    width: 180px;
    height: 180px;
    border-radius: 150px;
    margin: 5% 3% 5% 3%;
    transition: 0.2s;
}
.Languages:hover
{
    transform: scale(1.05);
}
.Languages_background
{
    width: 100%;
}
.Languages_logo
{
    width: 60%;
    transform: translate(35%,-130%);
}
.Languages_name
{
    color: floralwhite;
    font-size: 40px;
    margin-top: -60%;
    text-align: center;
}
.Languages_discraption_holder
{
    width: 100%;
    height: 100%;
    transform: translate(0%,-142%);
    border-radius: 150px;
    opacity: 0;
    transition: 0.3s;
}
.Languages_discraption_holder:hover
{
    opacity: 1;
}
.Languages_discraption
{
    width: 250px;
    height: 100px;
    padding-top: 20px;
    padding-left: 25px;
    transform: translate(-15%,-80%);
    border-radius: 50px;
    background-color:#fff;
    color:black;
    font-size: 13px;
}
.Languages_discraption:hover
{
    opacity: 0;
}
.Languages_name_2
{
    color: floralwhite;
    font-size: 30px;
    margin-top: -60%;
    text-align: center;
}


.skill
{
    background-color:red;                                                    /* -----  main color ----- */
    width: 100%;
    padding-bottom: 5%;
    transform: translate(0%,0%);
    transform-origin: top;
    position: absolute;
}
.skill_top_svg
{
    width: 100%;
    transform: translate(0%,-75%);
}
.categry_name_for_about
{
    color: #fff;
    font-size: 50px;
    margin-top: -15%;
    margin-left: 4%;
    margin-bottom: 0%;
}
.about_holder_2
{
    transform-origin: center;
    transform: translate(5%,0%);
    width: 90%;
    display: flex;
    flex-flow: wrap;
}
.Languages_name_2
{
    color: floralwhite;
    font-size: 30px;
    margin-top: -60%;
    text-align: center;
}

/* ---------------------------------------------------------------- project ------------------------------------------------------------ */



.background_for_project
{
    height: auto;
    background-color: black;
    padding-bottom: 1%;
}
.project_holder_1
{
    font-size: 50px;
    padding-bottom: 15%;
    padding-top: 5%;
}
.categry_name
{
    color: #fff;
    font-size: 50px;
    transform: translate(0%,90px);
    margin-left: 5%;
}
.project
{
    width: 80%;
    height: 300px;
    transform: translate(11%,50px);
    transform-origin: center;
    margin-top: 5%;
    transition: 0.5s;
    border-radius: 150px;
}
.project:hover
{
    transform: translate(11%,50px) scale(1.05);
}
.project_background
{
    width: 100%;
    transform: translate(0%,-30px);
}
.project_logo
{
    width: 20%;
    transform: translate(0%,0px);
    border-radius: 100px;
    margin-top: -27%;
    margin-left: 6%;
}
.project_name
{
    color:yellow;
    transform: translate(0%,0px);
    margin-top: -27%;
    margin-left: 27%;
}
.project_descraption
{
    color:black;
    width: 65%;
    font-size: 30px;
    transform: translate(0%,0px);
    margin-top: -3%;
    margin-left: 27%;
}
.for_red
{
    color: red;
}
.project_holder_2
{
    font-size: 50px;
    transform: translate(0%,0px);
    background-color: red;                                           /* ------ main color ------ */
    padding-bottom: 10%;
}
.project_holder_3
{
    font-size: 50px;
    transform: translate(0%,0px);
    margin-bottom: 10%;
}
.project_top_svg
{
    transform: translate(0%,-240px);
}
.red_background
{
    transform: translate(0%,-450px);
    margin-bottom: -48%;
}
.project_bottom_svg
{
    transform: translate(0%,450px);
}

/* ---------------------------------------------------------------- project ------------------------------------------------------------ */


@keyframes Body
{
    0%{ transform: translate(0%,-7%); }
    100%{ transform: translate(0%,35%); }
}







/* ---------------------------------------------------------------- respouncive ------------------------------------------------------------ */


@media screen and (min-device-width: 481px) and (max-device-width: 1080px) and (orientation: landscape)    /* ----  S tab rotate  --------- */
{
    .background_avater{ transform: translate(40%,-450px) scale(1.5); }
    .wrapper{ transform: translate(50%,-700px) scale(1.5); }
    .tab1{ transform: translate(405px,-2%) scale(0.5) rotateZ(-10deg); }
    
    .categry_name_for_about_1{ transform: translate(0px,180px); }
    .about_holder_1{ transform: translate(100px,-20px); padding-bottom: 200px; }
    .about_holder_2{ transform: translate(100px,0px); }
    .Languages{ transform: scale(0.9); margin-left: 0%; }
    .Languages:hover{ transform: scale(1); margin-left: 0%; }
    
    .project_bottom_svg{ transform: translate(0px,320px); }
    .project:hover{ margin-top: 0%; margin-bottom: 0%; transform: translate(10%,50%)scale(1.1); }
}
@media screen and (min-device-width: 481px) and (max-device-width: 1279px)                                 /* -------  All tab  --------- */
{
    .other_places{ transform: translate(10%,-150px); }
    .logoholder{ transform: translate(10%,-200px); }
    .background_img{ transform: translate(0%,220px); }
    .background_avater{ transform: translate(40%,-400px) scale(1.5); }
    .wrapper{ transform: translate(50%,-600px) scale(1.5); }
    .tab_holder{ transform: translate(0%,-200px); }
    .tab1{ transform: translate(405px,-10%) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(55px,-180px) scale(0.7) }
    .tab2{ transform: translate(280px,-15%) scale(0.5) rotateZ(-7deg); }
    .tab2_text{ transform: translate(55px,-180px) scale(0.7) }
    .tab3{ transform: translate(150px,-17%) scale(0.5) rotateZ(-1deg); }
    .tab3_text{ transform: translate(45px,-180px) scale(0.7) }

    .categry_name_for_about_1{ transform: translate(0px,180px); }
    .about_holder_1{ transform: translate(80px,-20px); padding-bottom: 200px; }
    .about_holder_2{ transform: translate(80px,0px); }
    .Languages{ transform: scale(0.9); margin-left: 0%; }
    .Languages:hover{ transform: scale(1); margin-left: 0%; }

    .project_top_svg{ transform: translate(0px,-215px); }
    .project_bottom_svg{ transform: translate(0px,290px); }
    .project_descraption{ font-size: 20px; transform: translate(0%,-30%); }
    .project_logo{ transform: translate(0%,-7%) scale(0.8); }
    .project{ margin-top: 0%; margin-bottom: 0%; transform: translate(10%,50%) }
    .project:hover{ margin-top: 0%; margin-bottom: 0%; transform: translate(10%,50%)scale(1.1); }
    .categry_name{ transform: translate(0%,250%) }
    .project_holder_3{ transform: translate(0%,-10%); }
    .red_background{ margin-bottom: -65%; }
    .project_holder_1{ transform: translate(0%,-8%); }
}
@media screen and (min-device-width: 1081px) and (max-device-width: 1279px) and (orientation: landscape)    /* ----  S tab rotate  --------- */
{
    .background_avater{ transform: translate(40%,-500px) scale(1.3); }
    .wrapper{ transform: translate(50%,-750px) scale(1.5); }
    .tab1{ transform: translate(450px,-8%) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(75px,-190px) scale(0.7) }
    .tab2{ transform: translate(300px,-18%) scale(0.5) rotateZ(-7deg); }
    .tab2_text{ transform: translate(65px,-190px) scale(0.7) }
    .tab3{ transform: translate(150px,-23%) scale(0.5) rotateZ(-1deg); }
    .tab3_text{ transform: translate(75px,-190px) scale(0.7) }
    
    .categry_name_for_about_1{ transform: translate(0px,180px); }
    .about_holder_1{ transform: translate(100px,-20px); padding-bottom: 200px; }
    .about_holder_2{ transform: translate(100px,0px); }
    .Languages{ transform: scale(0.9); margin-left: 0%; }
    .Languages:hover{ transform: scale(1); margin-left: 0%; }
    
    .red_background{ margin-bottom: -55%; }
    .project_bottom_svg{ transform: translate(0px,350px); }
    .project:hover{ margin-top: 0%; margin-bottom: 0%; transform: translate(10%,50%)scale(1.1); }
}


@media screen and (min-device-width: 1921px)                                      /* ------------------ large PC  --------- */
{
    .background_avater{ transform: translate(50%,-145%) scale(1.5); }
    .wrapper{ transform: translate(150%,-1100%) scale(2.5); }
    .body{ transform: translate(0%,25%); }
    .background_img{ transform: scale(1.5) translate(7%,10%); }
    .answer{ font-size: 50px; }
    .tab_holder{ transform: translate(-2%,-110%); }
    .who_I_am{ font-size: 50px; }
    .body_top_svg{ transform: translate(0%,30%); }
    .body_bottom_svg{ transform: translate(0%,-10%); }
    .other_places{ font-size: 50px; transform: translate(10%,-700%); }
    .logoholder{ transform: translate(10%,-80%); }
    .tab1{ transform: translate(950px,6%) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: scale(1.5) translate(95%,-190%); }
    .tab2{ transform: translate(650px,-8%) scale(0.5) rotateZ(-7deg); }
    .tab2_text{ transform: scale(1.5) translate(95%,-190%); }
    .tab3{ transform: translate(350px,-13%) scale(0.5) rotateZ(-1deg); }
    .tab3_text{ transform: scale(1.5) translate(75%,-190%); }

    .background_for_about{ transform: translate(0%,10%); }
    .about_holder_1{ transform: translate(7%,-10%); padding-bottom: 20%;}
    .about_holder_2{ transform: translate(7%,-10%);}
    .Languages{ transform: scale(1.5); margin-left: 7%; }
    .Languages:hover{ transform: scale(1.7); margin-left: 7%; }

    .project{ transform: translate(10%,0%) scale(0.8); margin-bottom: 10%; }
    .project:hover{ transform: translate(10%,0%) scale(0.9); margin-bottom: 10%; }
    .categry_name{ font-size: 90px; }
    .project_holder_1{ transform: translate(0%,5%); }
    .project_top_svg{ transform: translate(0%,-75%); }
    .project_bottom_svg{ transform: translate(0%,140%); }
    .red_background{ transform: translate(0%,-45%); margin-bottom: -60%; }
}
@media screen and (min-device-width: 1400px)and (max-device-width: 1920px)        /* ------------------- mid PC  ----------- */
{
    .background_avater{ transform: translate(30%,-180%) scale(1); }
    .wrapper{ transform: translate(40%,-870%) scale(1.5); }

    .categry_name_for_about_1{ transform: translate(0px,250px); }
    .categry_name_for_about{ transform: translate(0px,-60px); }
    .about_holder_1{ transform: translate(100px,-20px); padding-bottom: 280px; }
    .about_holder_2{ transform: translate(100px,-50px); }
    
    .project{ transform: scale(0.8) translate(15%,0%); margin-bottom: -4%; }
    .project:hover{ transform: scale(0.85) translate(13%,0%); }
    .red_background{ margin-bottom: -55%; }
}
@media screen and (min-device-width: 1280px) and (max-device-width: 1399px)       /* ------------------ small PC  --------- */
{
    .background_avater{ transform: translate(30%,-160%) scale(1); }
    .wrapper{ transform: translate(10%,-750%) scale(1.5); }
    .tab1{ transform: translate(620px,0%) scale(0.4) rotateZ(-10deg); }
    .tab1_text{ transform: translate(75px,-190px) scale(0.7) }
    .tab2{ transform: translate(420px,-9%) scale(0.4) rotateZ(-5deg); }
    .tab2_text{ transform: translate(65px,-190px) scale(0.7) }
    .tab3{ transform: translate(220px,-13%) scale(0.4) rotateZ(-1deg); }
    .tab3_text{ transform: translate(75px,-190px) scale(0.7) }
    
    .categry_name_for_about_1{ transform: translate(0px,180px); }
    .about_holder_1{ transform: translate(100px,-20px); padding-bottom: 200px; }
    .about_holder_2{ transform: translate(100px,0px); }
    .Languages{ transform: scale(0.9); margin-left: 0%; }
    .Languages:hover{ transform: scale(1); margin-left: 0%; }
    
    .red_background{ margin-bottom: -55%; }
    .project_bottom_svg{ transform: translate(0px,400px); }
    .project:hover{ transform: translate(10%,20%)scale(1.1); }
    .project_descraption{ transform: translate(0%,-10%); }
    .project_logo{ transform: translate(0%,-5%) scale(0.8); }
}


@media screen and (max-device-width: 480px) and (orientation: portrait)          /* ---------------------  mobile  --------- */
{

    .background{ background-color:red !important; }

    .other_places{ transform: translate(10%,-150px); }
    .logoholder{ transform: translate(10%,-200px); }
    .background_img{ transform: translate(0%,-100%); }
    .background_avater{ transform: translate(40%,-250px) scale(2.2); }
    .wrapper{ transform: translate(80%,-500px) scale(1.5); }
    .tab_holder{ transform: translate(0%,-220px); }
    .tab1{ transform: translate(405px,-10%) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(45px,-180px) scale(0.7) }
    .tab2{ transform: translate(280px,-15%) scale(0.5) rotateZ(-7deg); }
    .tab2_text{ transform: translate(45px,-180px) scale(0.7) }
    .tab3{ transform: translate(150px,-17%) scale(0.5) rotateZ(-1deg); }
    .tab3_text{ transform: translate(25px,-180px) scale(0.7) }

    .about_holder_1{ transform: translate(0%,10%); width: 100%; }
    .about_holder_2{ transform: translate(0%,5%); margin-bottom: 5%; width: 100%;  }
    .skill{ transform: translate(0%,20%); }
    .Languages{ margin-bottom: 12%; transform: translate(0%,0%) scale(0.9); }
    
    .project_top_svg{ transform: translate(0px,-215px); }
    .project_bottom_svg{ transform: translate(0px,290px); }
    .project_descraption{ font-size: 20px; transform: translate(0%,-30%); }
    .project_logo{ transform: translate(0%,-7%) scale(0.8); }
    .project{ margin-top: 0%; margin-bottom: 0%; transform: translate(10%,50%) }
    .project:hover{ margin-top: 0%; margin-bottom: 0%; transform: translate(10%,50%)scale(1.1); }
    .categry_name{ transform: translate(0%,250%) }
    .project_holder_3{ transform: translate(0%,-10%); }
    .red_background{ margin-bottom: -65%; }
    .project_holder_1{ transform: translate(0%,-8%); }
    .project_name{ transform: translate(0%,-40%); }
    .project_descraption{ transform: translate(0%,-40%); }
}
@media screen and (max-device-width: 375px) and (orientation: portrait)          /* -------------------- S mobile  ---- */
{
    .background{ background-color: rgb(89, 0, 255) !important; }
    .background_img{ transform: translate(0%,-100%); }
    .background_avater{ transform: translate(40%,-185px) scale(2.2); }

    .tab_holder{ transform: translate(0%,-215px); }
}
@media screen and (max-device-width: 374px) and (orientation: portrait)          /* -------------------- VS mobile  ---- */
{
    .background{ background-color:blanchedalmond !important; }
    .background_avater{ transform: translate(40%,-150px) scale(2.5); }

    .tab_holder{ transform: translate(0%,-215px); }
}
@media screen and (max-device-width: 926px) and (orientation: landscape)          /* ---------------  all mobile rotate  --------- */
{
    .tab_holder{ transform: translate(0%,-180px); }
    .background_avater{ transform: translate(40%,-375px) scale(1.3); }
    .tab1{ transform: translate(405px,2%) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(45px,-180px) scale(0.7) }
    .tab2{ transform: translate(280px,-15%) scale(0.5) rotateZ(-7deg); }
    .tab2_text{ transform: translate(45px,-180px) scale(0.7) }
    .tab3{ transform: translate(150px,-17%) scale(0.5) rotateZ(-1deg); }
    .tab3_text{ transform: translate(25px,-180px) scale(0.7) }
    
    .project_bottom_svg{ transform: translate(0px,290px); }
}


