
.contact
{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 8%;
}
.contact_img
{
    width: 50%;
    height: 100%;
    padding-left: 6%;
}
.contact_img p
{
    margin-top: 2%;
}
.contact_text
{
    width: 50%;
    height: 100%;
}
.form_holder
{
    width: 60%;
    left: 25%;
    position: relative;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.138);
    padding: 10px 30px 20px 30px;
    z-index: 2;
    backdrop-filter: blur(5px);
}
.lol_field
{
    position: relative;
    width: 100%;
    height: 40px;
    padding-left: 5%;
    border-radius: 25px;
    font-size: 20px;
    outline: none;
}
.lol_field_name
{
    color: rgb(39, 151, 249);
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 15px;
}
.row_2
{
    display: flex;
    gap: 4%;
}
.row_2_1
{
    width: 48%;
    height: auto;
}
.row_2_2
{
    width: 48%;
    height: auto;
}
.row_3 textarea
{
    position: relative;
    width: 100%;
    height: 200px;
    padding: 3%;
    border-radius: 25px;
    font-size: 20px;
    resize: none;
    text-align: justify;
}
.row_4
{
    width: 120px;
    height: 40px;
    border-radius: 25px;
    margin-top: 5%;
    margin-left: 71%;
    font-size: 18px;
}
.all
{
    font-size: 50px !important;
    color: aliceblue;
    margin-left: 100px;
}
.rignt
{
    box-shadow: 0px 0px 3px 1px rgb(0, 255, 72);
    border: 1px solid rgb(0, 255, 38);
}
.wrong
{
    box-shadow: 0px 0px 3px 1px rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
}