*
{
    scroll-behavior: smooth;
    /* cursor: none; */
}
body
{
    margin: 0px;
    background-color: black;
}



.header
{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    gap: 30px;
    justify-content: right;
    position: absolute;
    z-index: 50;
    position: fixed;
}
.header a
{
    text-decoration: none;
}
.tab
{
    background-color: rgb(0, 136, 255);
    width: 130px;
    height: 40%;
    position: relative;
    left: -20%;
    border-radius: 200px;
}
.tab p
{
    text-align: center;
    position: relative;
    top: 5px;
    color: aliceblue;
    font-size: 25px;
}


.body
{
    display: flex;
    width: 100%;
}
.body_text
{
    width: 50%;
    height: 100%;
    padding-top: 150px;
}
.body_text button
{
    width: 150px;
    height: 50px;
    border-radius: 100px;
    color: rgb(0, 136, 255);
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px;
    margin-left: 5%;
    transform: translate(100%,50%);
    font-size: 20px;
    backdrop-filter: blur(5px);
    transition: 0.1s;
    position: relative;
    z-index: 2;
}
.body_text button:hover
{
    box-shadow: 0px 0px 10px 2px rgb(0, 136, 255);
}
.hello
{
    color: aliceblue;
    font-size: 60px;
    transform: translate(200px,30%);
    position: relative;
}
.i_am
{
    color: rgb(0, 136, 255);
    font-size: 60px;
    padding-left: 20%;
    margin-left: -20%;
}
.body_img
{
    width: 50%;
    transform: scale(0.7);
    margin-top: 2%;
    height: auto;
    position: relative;
    z-index: 2;
}
.lala
{
    display: flex;
    gap: 50px;
    margin: 2% 0% 0% 8%;
}
.lala img
{
    width: 25%;
}
.lala a
{
    margin-right: -38%;
}
.lala_call
{
    display: none;
    position: absolute;
    text-align: center;
    border-radius: 500px;
    padding: 20px 20px 0px 20px;
    margin-top: 30px;
    width: 50%;
    height: 80px;
    left: 8%;
    font-size: 50px;
    background-color: rgb(0, 136, 255);
    color: aliceblue;
}





























.baground_img
{
    position: absolute;
    width: 100%;
    margin-top: 100px;
    opacity: 0.2;
    object-fit: cover;
}



.skill
{
    margin-bottom: -5%;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    padding-top: 5%;
}
.skill_text
{
    width: 80%;
    /* background-color: aqua; */
    transform-style: preserve-3d;
    transition: 1s;
}
.skill_text p
{
    color: aliceblue;
    font-size: 40px;
    position: relative;
    margin-bottom: -5%;
}
.skill_holder
{
    width: 60%;
    position: relative;
    left: 10%;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    border-radius: 25px;
    /* border: 1px solid white;
    box-shadow: 0px 0px 10px 0px white; */
    backdrop-filter: blur(5px);
    z-index: 2;
    background-image: url(./images/skills.jpg);
    background-size: 100%;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.try
{
    width: 290px;
    height: 100px;
    background-color: rgb(39, 151, 249, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    display: flex;
    backdrop-filter: blur(3px);
}
.try img
{
    transform: scale(0.8);
}
.try h1
{
    font-size: 30px;
    position: relative;
    top: -5px;
    color: aliceblue;
}
.try p
{
    font-size: 25px;
    position: relative;
    top: -25px;
}
.skill_img
{
    width: 30%;
    position: relative;
    left: -10%;
}




.project
{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    margin-left: -5%;
    margin-top: 5%;
    padding-top: 7%;
    margin-bottom: -2%;
}
.project h1
{
    font-size: 50px !important;
    margin-top: 0%;
    transform: translate(180px,0%);
}
.project_try
{
    color: aliceblue;
    font-size: 40px;
}
.project_card_baground
{
    width: 300px;
    height: 450px;
    position: relative;
    z-index: 2;
    transition: 0.3s;
    margin-top: 10%;
    transform: translate(-40%,0%);
}
.project_card_baground:not(:first-child)
{
    margin-left: -10%;
}
.project_card_baground:hover > .project_card
{
    transform: translate(0%,-20%);
    background-color: black;
}
.project_card_baground:hover~.project_card_baground
{
    transform: translate(10%,0%);
}
.project_card
{
    width: 300px;
    height: 450px;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    box-shadow: -10px 0px 10px 0px rgb(0, 0, 0);
    position: relative;
    margin-left: 10%;
    top: 0;
    transition: 0.3s;
    margin: -35px -0px -0px -0px;
    overflow: hidden;
}
.project_card img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0.3;
}
.project_card h1
{
    transform: rotate(90deg) scale(-1);
    font-size: 50px;
    position: relative;
    top: 30%;
    left: -53%;
    width: 150%;
    transform-origin: bottom;
    color: rgb(39, 151, 249);
}
.project_card p
{
    position: relative;
    top: -15%;
    left: 25%;
    width: 70%;
    text-align: justify;
    color: aliceblue;
}





.xp
{
    width: 100%;
    display: flex;
    /* margin-bottom: 0%; */
}
.xp_img
{
    width: 40%;
    margin-top: 12%;
    padding-left: 10%;
}
.xp_text
{
    width: 50%;
    height: auto;
    position: relative;
    top: 100px;
    margin-bottom: 15%;
}
.xp_text h1
{
    margin-top: 15%;
    margin-bottom: 0%;
}
.xp_holder
{
    width: 105%;
    position: relative;
    left: -17%;
    top: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.xp_card
{
    width: 300px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
    z-index: 2;
    margin-left: 5%;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.xp_card_name
{
    position: absolute;
    font-size: 50px;
    transform: translate(20px,280px) rotate(-90deg);
    transform-origin: top left !important;
    color: rgb(39, 151, 249);
    transition: 0.3s;
}
.xp_card_logo
{
    width: 100px;
    height: 130px;
    border-radius: 25px;
    position: relative;
    left: -55px;
    top: 20px;
    transform: translate(50%,-5%);
    transition: 0.3s;
}
.xp_card_logo img
{
    width: 65%;
    margin: 20px 0px 0px 15px;
}
.xp_card_dis p
{
    color: aliceblue;
    text-align: justify;
    position: relative;
    left: -40px;
}
.xp_card_dis a
{
    position: absolute;
    width: 90%;
    height: 30px;
    margin-left: -45px;
    padding-left: 10%;
    padding-top: 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(39, 151, 249);
    border-radius: 25px;
    background-color: rgb(0, 0, 0,0.1);
    margin-top: 5%;
    padding-top: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.xp_card_dis
{
    width: 200px;
    height: 300px;
    border-radius: 25px;
    position: relative;
    left: 150px;
    top: -80px;
    transform: translate(-10%,-16%);
    transition: 0.3s;
}
.xp_card:hover > .xp_card_logo
{
    transform: translate(100px,0%);
    width: 90%;
    opacity: 0.3;
}
.xp_card:hover > .xp_card_dis
{
    transform: translate(-95px,10px);
    width: 90%;
}
.xp_card:hover > .xp_card_name
{
    transform: translate(30px,-40px) rotate(0deg);
}





.contact
{
    width: 100%;
    /* height: 100%; */
    display: flex;
    padding-top: 7%;
    padding-bottom: 5%;
}
.contact_img
{
    width: 50%;
    height: 100%;
    padding-left: 6%;
}
.contact_img p
{
    margin-top: 2%;
}
.contact_text
{
    width: 50%;
    height: 100%;
}
.form_holder
{
    width: 60%;
    left: 25%;
    position: relative;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.138);
    padding: 10px 30px 20px 30px;
    z-index: 2;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.lol_field
{
    position: relative;
    width: 100%;
    height: 40px;
    padding-left: 5%;
    border-radius: 25px;
    font-size: 20px;
    outline: none;
}
.lol_field_name
{
    color: rgb(39, 151, 249);
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 15px;
}
.row_2
{
    display: flex;
    gap: 4%;
}
.row_2_1
{
    width: 48%;
    height: auto;
}
.row_2_2
{
    width: 48%;
    height: auto;
}
.row_3 textarea
{
    position: relative;
    width: 100%;
    height: 200px;
    padding: 3%;
    border-radius: 25px;
    font-size: 20px;
    resize: none;
    text-align: justify;
}
.row_4
{
    width: 120px;
    height: 40px;
    border-radius: 25px;
    margin-top: 5%;
    margin-left: 71%;
    font-size: 18px;
}
.all
{
    font-size: 50px !important;
    color: aliceblue;
    margin-left: 100px;
}
.rignt
{
    box-shadow: 0px 0px 3px 1px rgb(0, 255, 72);
    border: 1px solid rgb(0, 255, 38);
}
.wrong
{
    box-shadow: 0px 0px 3px 1px rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
}




.animation-area {
	width: 100%;
	height: 0%;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 100%;
	overflow: hidden;
    position: fixed;
    /* z-index: 0; */
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 50s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 5%;
	width: 50px;
	height: 50px;
	animation-delay: 2.5s;
}
.box-area li:nth-child(7) {
	left: 240%;
	width: 150px;
	height: 150px;
	animation-delay: 1s;
}
.box-area li:nth-child(8) {
	left: 19%;
	width: 60px;
	height: 60px;
	animation-delay: 1.5s;
	animation-duration: 7s;
}
.box-area li:nth-child(9) {
	left: 970%;
	width: 190px;
	height: 190px;
	animation-delay: 6.5s;
}
.box-area li:nth-child(10) {
	left: 35%;
	width: 0px;
	height: 0px;
	animation-delay: 0s;
	animation-duration: 11s;
}
.box-area li:nth-child(11) {
	left: 27%;
	width: 30px;
	height: 30px;
	animation-delay: 6s;
}
.box-area li:nth-child(12) {
	left: 15%;
	width: 70px;
	height: 70px;
	animation-delay: 4.8s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg) scale(0.2);
		opacity: 0.3;
	}
	100% {
		transform: translateY(-800px) rotate(160deg) scale(0.7);
		opacity: 0.6;
	}
}
#blur
{
    width: 100%;
    height: 100%;
    position: fixed;
    transform: translate(0%,-548%);
    /* z-index: 0; */
}
#blob
{
    height: 350px;
    aspect-ratio: 1;
    position: fixed;
    transform: translate(-50%,-50%);
	transform-origin: top left;
    border-radius: 50%;
	background: linear-gradient( 90deg, rgb(0, 136, 255),rgb(131, 197, 255));
	animation: rotate 20s infinite;
	filter: blur(300px);
    /* z-index: 1; */
}

@keyframes rotate
{
	0%{ rotate: 0deg; }
	100%{ rotate: 360deg; }
}
#anni
{
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgb(0, 136, 255);
    position: fixed;
    z-index: 1;
	transform: translate(-50%,-50%) scale(1);
}









































@media screen and (max-width: 480px)
{
    body{ scroll-behavior: none !important; }
    .box-area{ display: none; }
    #blob{ display: none; }

    .header { width: 100% !important; height: 70px; position: absolute; }
    .tab { width: 68px; height: 25px; }
    .tab p{ font-size: 12px; top: 25%; }

    .baground_img { width: 200%; top: -27px; left: -100%; }
    .body_img{ transform: scale(0.42) translate(-102%,0%); }
    .hello{ transform: scale(0.5) translate(-40%,-160%); width: 300%; font-size: 50px; overflow: visible; white-space: normal; }
    .lala{ display: none; }
    .body_text button{ transform: translate(-10%,-400%) scale(0.7); width: 170%; }

    #skills{ margin-top: -30%; }
    .skill_text_name{ width: 220%; position: absolute; transform: translate(-133%,-100%); font-size: 30px !important; }
    .skill_img img{ display: none; }
    .skill_holder{ width: 115%; background-image: none; background-color: transparent; border: none; gap: 10px; justify-content: center; }
    .try{ width: 46%; border-radius: 10px; }
    .try img{ transform: scale(1) translate(20%,0%); opacity: 0.1; }
    .try_text{ transform: translate(-100%,0%); text-align: center; }
    .long{ transform: translate(-71%,0%); }

    #Project{ margin-top: 25%; padding-bottom: 10%;}
    #project_text{ font-size: 27px !important; transform: translate(-20%,0%);width: 70%; }
    .project_card_baground { width: 210px; height: 100px; margin-bottom: 30%; transform: translate(6%,-40%) scale(0.53); }
    .project_card_baground h1{ display: block; transform: translate(-2%,50%) rotate(-90deg); text-align: center; font-size: 25px;  }
    .project_card p{ font-size: 17px; width: 75%; transform: translate(-7%,0%); }
    .project_card_baground:hover > .project_card { transform: translate(0%,0%) scale(0.9); background-color: black; }
    .project_card_baground:hover~.project_card_baground { transform: translate(6%,-40%) scale(0.53); }

    /* #Xp{ background-color: red; } */
    .xp_img{ display: none; }
    .xp_text{ margin-top: -20%; }
    #xp_text_name{ font-size: 25px !important; width: 150%; transform: translate(-25%,0%); }
    .xp_holder{ transform: translate(35%,-8%); width: 270px !important; display: flex; }
    .xp_card_logo{ transform: translate(45%,-20%); }
    .xp_card_name{ transform: translate(5%,530%) rotate(-90deg); font-size: 40px; }
    .xp_card_dis{ transform: translate(-48%,-15%); }
    .xp_card_dis p{ width: 80%; font-size: 13px; transform: translate(40%,0%); }
    .xp_card_dis a{ transform: translate(42%,-20%); width: 70%; font-size: 14px;padding-top: 5%; padding-left: 10px; }
    .xp_card:hover > .xp_card_logo { transform: translate(100px,10%); width: 90%; opacity: 0.3; }
    .xp_card:hover > .xp_card_dis { transform: translate(-165px,10px); width: 100%;}
    .xp_card:hover > .xp_card_dis a { transform: translate(37%,-30%); width: 80%; }
    .xp_card:hover > .xp_card_name { transform: translate(60%,-30px) rotate(0deg); }

    #Contact{ transform: translate(0%,35%);  }
    .contact_img img{ display: none; }
    #Contact_text_name{ font-size: 30px !important; width: 100%; transform: translate(-140%,-150%); }
    .form_holder{ width: 159%; padding-bottom: 50%; transform: translate(-7%,0%) !important; }
    .lol_field_name{ font-size: 20px; transform: translate(0%,-10%); }
    .row_1{ transform: translate(0%,-40%); }
    .row_2_1{ width: 82%; height: 1px; transform: translate(-0%,-60px); position: absolute; }
    .row_2_2{ width: 100%; height: 0px; transform: translate(-0%,15px); }
    .row_3{ transform: translate(0%,40%); }
    .row_4{ transform: translate(-100%,230%); width: 110px; }
}