body
{
    margin-left: 0%;
    height: 105%;
    width: 100%;
    transform-origin: top left;
}

/* ---------------------------------------------------------------- ALL ------------------------------------------------------------ */

.header
{
    width: 100%;
    height: 30%;
    transform: scale(1);
    z-index: 9;
    position:absolute;
}
.header_img
{
    width: 100%;
    margin-top: -6%;
}
.tab_holder
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transform: translate(0%,-110%);
}
.tab1
{
    width: 30%;
    height: 100%;
    transform: translate(150%,-20%) rotate(-7deg) scale(0.4);
}
.tab2
{
    width: 30%;
    height: 100%;
    transform: translate(100%,-25%) rotate(0deg) scale(0.4);
}
.tab3
{
    width: 30%;
    height: 100%;
    transform: translate(50%,-21%) rotate(5deg) scale(0.4);
}
.tab1_text
{
    color: aliceblue;
    font-size: 500%;
    transform: translate(70%,-235%);
    position: absolute;
}
.tab2_text
{
    color: aliceblue;
    font-size: 500%;
    transform: translate(60%,-235%);
    position: absolute;
}
.tab3_text
{
    color: aliceblue;
    font-size: 500%;
    transform: translate(55%,-235%);
    position: absolute;
}
.tab1_img
{
    width: 100%;
}
.tab2_img
{
    width: 100%;
}
.tab3_img
{
    width: 100%;
}

.main_color_svg
{
    fill:skyblue !important;                                      /* main color */
    /* fill:burlywood !important;                                      /* main color */
}
.main_color_div
{
    background-color:skyblue !important;                           /* main color */
    /* background-color:burlywood !important;                           /* main color */
}
.secondary_color
{
    background-color:black !important;                    /* secondary color */
}

/* ---------------------------------------------------------------- indes ------------------------------------------------------------ */


.background
{
    background-color:black;
    transform: translate(0%,-14%);
}
.background_img
{
    width: 100%;
    opacity: 0.2;
    transform: translate(0%,5%);
}
.background_avater
{
    width: 25%;
    transform: translate(45%,-190%);
    margin-top: 23%;
    opacity: 1;
}
.wrapper
{
    transform: translate(0%,-1050%);
    left: 35%;
    font-size: 300%;
    position: absolute;
    color: #fff;
}
.multiText
{
    font-weight: 1000;
    color:deepskyblue;
    text-transform: capitalize;
}


.body
{
    transform: translate(0%,-128%);
}
.body_top_svg
{
    width: 100%;
    transform: translate(0%,-36%);
}
.body_div
{
    padding-top: 3%;
    padding-left: 2%;
    width: 98%;
    height: auto;
    transform: translate(0%,-22%);
}
.answer
{
    color: #fff;
    font-size: 165%;
}
.who_I_am
{
    color: white;
    width: 210%;
    font-size: 25px;
    transform: translate(25%,-20%);
}
.body_bottom_svg
{
    width: 100%;
    z-index: 8;
    position: static;
    transform: translate(0%,-70%);
}

.logoholder
{
    width: 80%;
    height: 25%;
    transform: translate(-5%,-100%);
    position: absolute;
    display: flex;
}
.logo_1
{
    margin: 5%;
    height: 70%;
}
.logo_img
{
    width: 100%;
}

/* ---------------------------------------------------------------- about ------------------------------------------------------------ */



.background_for_about
{
    background-color: black;
    width: 100%;
    height: auto;
    margin-bottom: -10%;
    transform: translate(0%,0%) scale(1);
}
.categry_name_for_about_1
{
    color: #fff;
    font-size: 50px;
    transform: translate(0%,400%);
    margin-left: 4%;
}
.about_holder_1
{
    transform-origin: top;
    transform: translate(5%,0%);
    padding-top: 15%;
    width: 90%;
    padding-bottom: 18%;
    display: flex;
    flex-flow: wrap;
}


.Languages
{
    width: 180px;
    height: 180px;
    transform: translate(0%,-10%);
    border-radius: 150px;
    margin: 5% 3% 5% 3%;
    transition: 0.2s;
}
.Languages:hover
{
    transform: scale(1.05);
}
.Languages_background
{
    width: 100%;
}
.Languages_logo
{
    width: 60%;
    transform: translate(35%,-125%);
}
.Languages_name
{
    color: floralwhite;
    font-size: 40px;
    margin-top: -60%;
    text-align: center;
}
.Languages_discraption_holder
{
    width: 100%;
    height: 100%;
    transform: translate(0%,-142%);
    border-radius: 150px;
    opacity: 0;
    transition: 0.3s;
}
.Languages_discraption_holder:hover
{
    opacity: 1;
}
.Languages_discraption
{
    width: 250px;
    height: 100px;
    padding-top: 20px;
    padding-left: 25px;
    transform: translate(-15%,-80%);
    border-radius: 50px;
    background-color:#fff;
    color:black;
    font-size: 13px;
}
.Languages_discraption:hover
{
    opacity: 0;
}
.Languages_name_2
{
    color: floralwhite;
    font-size: 30px;
    margin-top: -60%;
    text-align: center;
}


.skill
{
    background-color:red;                                                    /* -----  main color ----- */
    width: 100%;
    padding-bottom: 5%;
    transform: translate(0%,0%);
    transform-origin: top;
    position: absolute;
}
.skill_top_svg
{
    width: 100%;
    transform: translate(0%,-55%);
}
.categry_name_for_about
{
    color: #fff;
    font-size: 50px;
    margin-top: -6%;
    margin-left: 4%;
    margin-bottom: 0%;
}
.about_holder_2
{
    transform-origin: center;
    transform: translate(5%,0%);
    width: 90%;
    display: flex;
    flex-flow: wrap;
}
.Languages_name_2
{
    color: floralwhite;
    font-size: 30px;
    margin-top: -60%;
    text-align: center;
}

/* ---------------------------------------------------------------- project ------------------------------------------------------------ */



.background_for_project
{
    height: auto;
    background-color: black;
    padding-bottom: 1%;
}
.project_holder_1
{
    font-size: 50px;
    padding-bottom: 15%;
    padding-top: 5%;
}
.categry_name
{
    color: #fff;
    font-size: 50px;
    transform: translate(0%,90px);
    margin-left: 5%;
}
.project
{
    width: 80%;
    height: 300px;
    transform: translate(11%,50px);
    transform-origin: center;
    margin-top: 5%;
    transition: 0.5s;
    border-radius: 150px;
}
.project:hover
{
    transform: translate(11%,50px) scale(1.05);
}
.project_background
{
    width: 100%;
    transform: translate(0%,-30px);
}
.project_logo
{
    width: 20%;
    transform: translate(0%,0px);
    border-radius: 100px;
    margin-top: -27%;
    margin-left: 6%;
}
.project_name
{
    color:yellow;
    transform: translate(0%,0px);
    margin-top: -27%;
    margin-left: 27%;
}
.project_descraption
{
    color:black;
    width: 65%;
    font-size: 30px;
    transform: translate(0%,0px);
    margin-top: -3%;
    margin-left: 27%;
}
.for_red
{
    color: red;
}
.project_holder_2
{
    font-size: 50px;
    transform: translate(0%,0px);
    background-color: red;                                           /* ------ main color ------ */
    padding-bottom: 10%;
}
.project_holder_3
{
    font-size: 50px;
    transform: translate(0%,0px);
    margin-bottom: 10%;
}
.project_top_svg
{
    transform: translate(0%,-300px);
}
.red_background
{
    transform: translate(0%,-450px);
    margin-bottom: -48%;
}
.project_bottom_svg
{
    transform: translate(0%,360px);
}

/* ---------------------------------------------------------------- project ------------------------------------------------------------ */


/* @keyframes Body
{
    0%{ transform: translate(0%,-185%); }
    100%{ transform: translate(0%,-130%); }
} */







/* ---------------------------------------------------------------- respouncive ------------------------------------------------------------ */

@media screen and (min-device-width: 481px) and (max-device-width: 809px)                                 /* -------  S tab  --------- */
{
    .header{ transform: translate(0%,-17%); }
    body{ background-color:black; }
    .body{ transform: translate(0%,-550px); }
    .body_top_svg{ transform: translate(0%,-74px); }
    .body_bottom_svg{ transform: translate(0%,-230px); }
    .background_avater{ transform: translate(100px,-570px) scale(1.5); }
    .wrapper{ transform: translate(30%,-750%) scale(1.5); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(50px,-300px); }
    .logo_1{ transform: translate(130px,-50px) scale(1); }
    .tab1{ transform: translate(410px,100px) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab2{ transform: translate(270px,85px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab3{ transform: translate(130px,90px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(55%,-140px); font-size: 50px; }
    
    .about_holder_1{ transform: translate(0%,5%); width: 100%; padding-bottom: 25%; }
    .about_holder_2{ transform: translate(0%,0%); width: 100%; }
    
    .project_top_svg{ transform: translate(0%,-87%);}
    .red_background{ margin-bottom: -58%; margin-bottom: -45%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_1{ transform: translate(0%,-10%); }
    .project_holder_2{ transform: translate(0%,10%); }
    .project_holder_3{ transform: translate(0%,-10%); }
    .categry_name{ transform: translate(0%,300%); }
    .project{ transform: translate(10%,60%); margin-bottom: -10%; }
    .project:hover{ transform: translate(10%,60%) scale(1.1); margin-bottom: -10%; }
    .project_logo{ transform: translate(0%,-10%); }
    .project_descraption{ font-size: 20px; transform: translate(0%,-50%); }
    .project_name{ transform: translate(0%,-50%); }
}
@media screen and (min-device-width: 810px) and (max-device-width: 834px)                                 /* -------  M tab  --------- */
{
    .header{ transform: translate(0%,-17%); }
    body{ background-color:black; }
    .body{ transform: translate(0%,-550px); }
    .body_top_svg{ transform: translate(0%,-74px); }
    .body_bottom_svg{ transform: translate(0%,-230px); }
    .background_avater{ transform: translate(100px,-570px) scale(1.5); }
    .wrapper{ transform: translate(30%,-750%) scale(1.5); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(50px,-300px); }
    .logo_1{ transform: translate(130px,-50px) scale(1); }
    .tab1{ transform: translate(410px,100px) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab2{ transform: translate(270px,85px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab3{ transform: translate(130px,90px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(55%,-140px); font-size: 50px; }
    
    .about_holder_1{ transform: translate(0%,5%); width: 100%; padding-bottom: 25%; }
    .about_holder_2{ transform: translate(0%,0%); width: 100%; }
    
    .project_top_svg{ transform: translate(0%,-87%);}
    .red_background{ margin-bottom: -58%; margin-bottom: -45%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_1{ transform: translate(0%,-10%); }
    .project_holder_2{ transform: translate(0%,10%); }
    .project_holder_3{ transform: translate(0%,-10%); }
    .categry_name{ transform: translate(0%,300%); }
    .project{ transform: translate(10%,60%); margin-bottom: -10%; }
    .project:hover{ transform: translate(10%,60%) scale(1.1); margin-bottom: -10%; }
    .project_logo{ transform: translate(0%,-10%); }
    .project_descraption{ font-size: 20px; transform: translate(0%,-50%); }
    .project_name{ transform: translate(0%,-50%); }
}
@media screen and (min-device-width: 835px) and (max-device-width: 1279px)                                 /* -------  L tab  --------- */
{
    .header{ transform: translate(0%,-17%); }
    body{ background-color:black; }
    .body{ transform: translate(0%,-550px); }
    .body_top_svg{ transform: translate(0%,-55px); }
    .body_bottom_svg{ transform: translate(0%,-207px); }
    .background_avater{ transform: translate(100px,-570px) scale(1.5); }
    .wrapper{ transform: translate(30%,-750%) scale(1.5); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(50px,-250px); }
    .logo_1{ transform: translate(130px,-50px) scale(1); }
    .tab1{ transform: translate(410px,120px) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab2{ transform: translate(270px,105px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab3{ transform: translate(130px,110px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(55%,-140px); font-size: 50px; }
    
    .about_holder_1{ transform: translate(0%,5%); width: 100%; padding-bottom: 25%; }
    .about_holder_2{ transform: translate(0%,0%); width: 100%; }
    
    .project_top_svg{ transform: translate(0%,-87%);}
    .red_background{ margin-bottom: -58%; margin-bottom: -45%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_1{ transform: translate(0%,-10%); }
    .project_holder_2{ transform: translate(0%,10%); }
    .project_holder_3{ transform: translate(0%,-10%); }
    .categry_name{ transform: translate(0%,300%); }
    .project{ transform: translate(10%,60%); margin-bottom: -10%; }
    .project:hover{ transform: translate(10%,60%) scale(1.1); margin-bottom: -10%; }
    .project_logo{ transform: translate(0%,-10%); }
    .project_descraption{ font-size: 20px; transform: translate(0%,-50%); }
    .project_name{ transform: translate(0%,-50%); }
}
@media screen and (min-device-width: 481px) and (max-device-width: 1279px) and (orientation: landscape)    /* ----  M tab rotate  --------- */
{
    .header{ transform: translate(0%,-20%); }
    .body{ transform: translate(0%,-700px); }
    .background_avater{ transform: translate(60%,-670px) scale(1.3); }
    .wrapper{ transform: translate(25%,-950px); }
    .body_top_svg{ transform: translate(0%,-45px); }
    .body_bottom_svg{ transform: translate(0%,-190px); }
    .tab1{ transform: translate(455px,-15px) scale(0.5) rotateZ(-12deg); }
    .tab1_text{ transform: translate(70%,-140px); }
    .tab2{ transform: translate(300px,-35px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(70%,-140px); }
    .tab3{ transform: translate(150px,-30px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(70%,-140px); }
    .who_I_am{ width: 80%; transform: translate(50px,-250px); }
    
    .about_holder_1{ transform: translate(2%,5%); width: 94%; }
    .about_holder_2{ transform: translate(2%,0%); width: 94%; }
    
    .project_holder_3{ transform: translate(0%,-5%); }
    .project{ margin-bottom: -5%; transform: translate(10%,70%) scale(1); }
    .project:hover{ margin-bottom: -5%; transform: translate(10%,70%) scale(1.1); }
}
@media screen and (min-device-width: 481px) and (max-device-width: 1079px) and (orientation: landscape)    /* ----  S tab rotate  --------- */
{

    .header{ transform: translate(0%,-28%); }
    .body{ transform: translate(0%,-620px); }
    .background_avater{ transform: translate(60%,-600px) scale(1.3); }
    .wrapper{ transform: translate(25%,-900px); }
    .body_top_svg{ transform: translate(0%,-55px); }
    .body_bottom_svg{ transform: translate(0%,-210px); }
    .tab1{ transform: translate(410px,-27px) scale(0.5) rotateZ(-12deg); }
    .tab1_text{ transform: translate(70%,-140px); }
    .tab2{ transform: translate(280px,-45px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(70%,-140px); }
    .tab3{ transform: translate(150px,-40px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(70%,-140px); }
    .who_I_am{ width: 80%; transform: translate(50px,-250px); }
    
    .about_holder_1{ transform: translate(0%,5%); }
    .about_holder_2{ transform: translate(0%,0%); }
    
    .project_holder_3{ transform: translate(0%,-5%); }
}





@media screen and (max-device-width: 320px) and (orientation: portrait)         /* ---- S mobile try  ---- */
{
    .background{ background-color:purple !important; }

    
    .header{ transform: translate(0%,-17%); }
    body{ background-color: black; }
    .body{ transform: translate(0%,-255px); }
    .body_top_svg{ transform: translate(0%,-292px); }
    .body_bottom_svg{ transform: translate(0%,-450px); }
    .background_avater{ transform: translate(100px,-500px) scale(1.5); }
    .wrapper{ transform: translate(50%,-750px) scale(1.5); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(10%,-1050%); font-size: 40px; }
    .logo_1{ transform: translate(160px,0px) scale(1); }
    .tab1{ transform: translate(410px,255px) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab2{ transform: translate(270px,240px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab3{ transform: translate(130px,245px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(55%,-140px); font-size: 50px; }
    
    .about_holder_1{ transform: translate(0%,0%); width: 100%; margin-top: 15%; }
    .about_holder_2{ transform: translate(0%,0%); width: 100%; margin-top: 5%;  }
    
    .project_top_svg{ transform: translate(0%,-87%);}
    .red_background{ margin-bottom: -58%; margin-bottom: -45%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_1{ transform: translate(0%,-10%); }
    .project_holder_2{ transform: translate(0%,10%); }
    .project_holder_3{ transform: translate(0%,-10%); }
    .categry_name{ transform: translate(0%,300%); }
    .project{ transform: translate(10%,60%); margin-bottom: -10%; }
    .project:hover{ transform: translate(10%,60%) scale(1.1); margin-bottom: -10%; }
    .project_logo{ transform: translate(0%,-10%); }
    .project_descraption{ font-size: 20px; transform: translate(0%,-50%); }
    .project_name{ transform: translate(0%,-50%); }
}
@media screen and (min-device-width: 321px) and (max-device-width: 374px) and (orientation: portrait)         /* ---- S mobile try  ---- */
{
    .background{ background-color:blue !important; }

    
    .header{ transform: translate(0%,-102%); }
    body{ background-color: black; }
    .body{ transform: translate(0%,-310px); }
    .body_top_svg{ transform: translate(0%,-235px); }
    .body_bottom_svg{ transform: translate(0%,-395px); }
    .background_avater{ transform: translate(100px,-500px) scale(1.5); }
    .wrapper{ transform: translate(50%,-750px) scale(1.5); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(10%,-1050%); font-size: 40px; }
    .logo_1{ transform: translate(160px,0px) scale(1); }
    .tab1{ transform: translate(410px,255px) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab2{ transform: translate(270px,240px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab3{ transform: translate(130px,245px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(55%,-140px); font-size: 50px; }
    
    .about_holder_1{ transform: translate(0%,0%); width: 100%; margin-top: 15%; }
    .about_holder_2{ transform: translate(0%,0%); width: 100%; margin-top: 5%;  }
    
    .project_top_svg{ transform: translate(0%,-87%);}
    .red_background{ margin-bottom: -58%; margin-bottom: -45%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_1{ transform: translate(0%,-10%); }
    .project_holder_2{ transform: translate(0%,10%); }
    .project_holder_3{ transform: translate(0%,-10%); }
    .categry_name{ transform: translate(0%,300%); }
    .project{ transform: translate(10%,60%); margin-bottom: -10%; }
    .project:hover{ transform: translate(10%,60%) scale(1.1); margin-bottom: -10%; }
    .project_logo{ transform: translate(0%,-10%); }
    .project_descraption{ font-size: 20px; transform: translate(0%,-50%); }
    .project_name{ transform: translate(0%,-50%); }
}

@media screen and (device-width: 375px) and (orientation: portrait)                                       
{
    .background{ background-color:violet !important; }

    
    .header{ transform: translate(0%,-13%); }
    body{ background-color: black; }
    .body{ transform: translate(0%,-325px); }
    .body_top_svg{ transform: translate(0%,-213px); }
    .body_bottom_svg{ transform: translate(0%,-370px); }
    .background_avater{ transform: translate(100px,-500px) scale(1.5); }
    .wrapper{ transform: translate(50%,-750px) scale(1.5); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(10%,-900%); font-size: 40px; }
    .logo_1{ transform: translate(160px,-50px) scale(1); }
    .tab1{ transform: translate(410px,210px) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab2{ transform: translate(270px,195px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab3{ transform: translate(130px,200px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(55%,-140px); font-size: 50px; }
    
    .about_holder_1{ transform: translate(0%,0%); width: 100%; margin-top: 15%; }
    .about_holder_2{ transform: translate(0%,0%); width: 100%; margin-top: 5%;  }
    
    .project_top_svg{ transform: translate(0%,-87%);}
    .red_background{ margin-bottom: -58%; margin-bottom: -45%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_1{ transform: translate(0%,-10%); }
    .project_holder_2{ transform: translate(0%,10%); }
    .project_holder_3{ transform: translate(0%,-10%); }
    .categry_name{ transform: translate(0%,300%); }
    .project{ transform: translate(10%,60%); margin-bottom: -10%; }
    .project:hover{ transform: translate(10%,60%) scale(1.1); margin-bottom: -10%; }
    .project_logo{ transform: translate(0%,-10%); }
    .project_descraption{ font-size: 20px; transform: translate(0%,-50%); }
    .project_name{ transform: translate(0%,-50%); }
}
@media screen and (min-device-width: 376px) and (max-device-width: 390px) and (orientation: portrait)          /* ---- M mobile  ---- */
{
    .background{ background-color:sienna !important; }
    
    
    .header{ transform: translate(0%,-13%); }
    body{ background-color: black; }
    .body{ transform: translate(0%,-325px); }
    .body_top_svg{ transform: translate(0%,-205px); }
    .body_bottom_svg{ transform: translate(0%,-370px); }
    .background_avater{ transform: translate(100px,-500px) scale(1.5); }
    .wrapper{ transform: translate(50%,-750px) scale(1.5); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(10%,-900%); font-size: 40px; }
    .logo_1{ transform: translate(160px,-50px) scale(1); }
    .tab1{ transform: translate(410px,210px) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab2{ transform: translate(270px,195px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab3{ transform: translate(130px,200px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(55%,-140px); font-size: 50px; }
    
    .about_holder_1{ transform: translate(0%,0%); width: 100%; margin-top: 15%; }
    .about_holder_2{ transform: translate(0%,0%); width: 100%; margin-top: 5%;  }
    
    .project_top_svg{ transform: translate(0%,-87%);}
    .red_background{ margin-bottom: -58%; margin-bottom: -45%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_1{ transform: translate(0%,-10%); }
    .project_holder_2{ transform: translate(0%,10%); }
    .project_holder_3{ transform: translate(0%,-10%); }
    .categry_name{ transform: translate(0%,300%); }
    .project{ transform: translate(10%,60%); margin-bottom: -10%; }
    .project:hover{ transform: translate(10%,60%) scale(1.1); margin-bottom: -10%; }
    .project_logo{ transform: translate(0%,-10%); }
    .project_descraption{ font-size: 20px; transform: translate(0%,-50%); }
    .project_name{ transform: translate(0%,-50%); }
}
@media screen and (min-device-width: 391px) and (max-device-width: 414px) and (orientation: portrait)          /* ---- M mobile  ---- */
{
    .background{ background-color:red !important; }
    
    .header{ transform: translate(0%,-13%); }
    body{ background-color: black; }
    .body{ transform: translate(0%,-355px); }
    .body_top_svg{ transform: translate(0%,-190px); }
    .body_bottom_svg{ transform: translate(0%,-347px); }
    .background_avater{ transform: translate(100px,-500px) scale(1.5); }
    .wrapper{ transform: translate(50%,-750px) scale(1.5); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(10%,-900%); font-size: 40px; }
    .logo_1{ transform: translate(160px,-50px) scale(1); }
    .tab1{ transform: translate(410px,210px) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab2{ transform: translate(270px,195px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab3{ transform: translate(130px,200px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(55%,-140px); font-size: 50px; }
    
    .about_holder_1{ transform: translate(0%,0%); width: 100%; margin-top: 15%; }
    .about_holder_2{ transform: translate(0%,0%); width: 100%; margin-top: 5%;  }
    
    .project_top_svg{ transform: translate(0%,-87%);}
    .red_background{ margin-bottom: -58%; margin-bottom: -45%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_1{ transform: translate(0%,-10%); }
    .project_holder_2{ transform: translate(0%,10%); }
    .project_holder_3{ transform: translate(0%,-10%); }
    .categry_name{ transform: translate(0%,300%); }
    .project{ transform: translate(10%,60%); margin-bottom: -10%; }
    .project:hover{ transform: translate(10%,60%) scale(1.1); margin-bottom: -10%; }
    .project_logo{ transform: translate(0%,-10%); }
    .project_descraption{ font-size: 20px; transform: translate(0%,-50%); }
    .project_name{ transform: translate(0%,-50%); }
}
@media screen and (min-device-width: 415px) and (max-device-width: 480px) and (orientation: portrait)          /* ---- L mobile  ---- */
{
    .background{ background-color:greenyellow !important; }
    
    .header{ transform: translate(0%,-13%); }
    body{ background-color: black; }
    .body{ transform: translate(0%,-375px); }
    .body_top_svg{ transform: translate(0%,-175px); }
    .body_bottom_svg{ transform: translate(0%,-330px); }
    .background_avater{ transform: translate(100px,-500px) scale(1.5); }
    .wrapper{ transform: translate(50%,-750px) scale(1.5); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(10%,-900%); font-size: 40px; }
    .logo_1{ transform: translate(160px,-50px) scale(1); }
    .tab1{ transform: translate(410px,225px) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab2{ transform: translate(270px,210px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab3{ transform: translate(130px,215px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(55%,-140px); font-size: 50px; }
    
    .about_holder_1{ transform: translate(0%,0%); width: 100%; margin-top: 15%; }
    .about_holder_2{ transform: translate(0%,0%); width: 100%; margin-top: 5%;  }
    
    .project_top_svg{ transform: translate(0%,-87%);}
    .red_background{ margin-bottom: -58%; margin-bottom: -45%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_1{ transform: translate(0%,-10%); }
    .project_holder_2{ transform: translate(0%,10%); }
    .project_holder_3{ transform: translate(0%,-10%); }
    .categry_name{ transform: translate(0%,300%); }
    .project{ transform: translate(10%,60%); margin-bottom: -10%; }
    .project:hover{ transform: translate(10%,60%) scale(1.1); margin-bottom: -10%; }
    .project_logo{ transform: translate(0%,-10%); }
    .project_descraption{ font-size: 20px; transform: translate(0%,-50%); }
    .project_name{ transform: translate(0%,-50%); }
}












@media screen and (max-device-width: 926px) and (orientation: landscape)          /* ---------------  all mobile rotate  --------- */
{
    .background{ background-color:tomato !important; }
    
    .header{ transform: translate(0%,-50%); }
    .tab1{ transform: translate(410px,-100px) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab2{ transform: translate(270px,-110px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(55%,-140px); font-size: 50px; }
    .tab3{ transform: translate(130px,-105px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(55%,-140px); font-size: 50px; }
    .body_top_svg{ transform: translate(0%,-77px); }
    .body_bottom_svg{ transform: translate(0%,-230px); }
    
    .about_holder_1{ transform: translate(13%,0%); width: 88%; margin-top: 10%; }
    .about_holder_2{ transform: translate(13%,0%); width: 88%; }

    /* 
    body{ background-color: black; }
    .body{ transform: translate(0%,-375px); }
    .background_avater{ transform: translate(100px,-500px) scale(1.5); }
    .wrapper{ transform: translate(50%,-750px) scale(1.5); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(10%,-900%); font-size: 40px; }
    .logo_1{ transform: translate(160px,-50px) scale(1); } */
}



@media screen and (min-device-width: 1920px)                                      /* ------------------ large PC  ---------- */
{
    .header{ transform: translate(0%,20%); }
    body{ background-color: black; }
    .body{ transform: translate(0%,-1500px); }
    .body_top_svg{ transform: translate(0%,-170px); }
    .body_bottom_svg{ transform: translate(0%,-250px); }
    .background_avater{ transform: translate(250px,-1500px); }
    .wrapper{ transform: translate(20%,-1900px) scale(1.7); }
    .background{ transform: translate(0%,0%); }
    .answer{ font-size: 50px; }
    .who_I_am{ width: 80%; font-size: 50px; transform: translate(10%,-400%); }
    .logoholder{ transform: translate(10%,-120%); }
    .logo_1{ transform: translate(0%,20%) scale(0.7); }
    .tab1{ transform: translate(990px,28%) scale(0.5) rotateZ(-9deg); }
    .tab1_text{ transform: translate(60%,-340px); font-size: 130px; }
    .tab2{ transform: translate(670px,20%) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(60%,-340px); font-size: 130px; }
    .tab3{ transform: translate(350px,22%) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(60%,-340px); font-size: 130px; }
    
    .about_holder_1{ transform: translate(10%,0%); width: 88%; }
    .about_holder_2{ transform: translate(10%,0%); width: 88%; }
    .background_for_about{ transform: translate(0%,10%); }
    .about_holder_1{ transform: translate(7%,-10%); }
    .Languages{ transform: scale(1.5); margin-left: 7%; margin-bottom: 7%; }
    .Languages:hover{ transform: scale(1.6); margin-left: 7%; margin-bottom: 7%; }
    
    .project_top_svg{ transform: translate(0%,-87%); }
    .red_background{ margin-bottom: -35%; margin-top: -10%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_1{ transform: translate(0%,5%); }
    .project_holder_3{ transform: translate(0%,-5%); }
    .categry_name{ font-size: 60px; }
    .project_descraption{ transform: translate(0%,0%); font-size: 50px; }
    .project_name{ font-size: 80px; }
    .project{ margin-bottom: 15%; }
}
@media screen and (min-device-width: 1400px)and (max-device-width: 1919px)        /* ------------------- mid PC  ----------- */
{
    /* .background{ background-color: red !important; } */

    .header{ transform: translate(0%,-5%); }
    body{ background-color: black; }
    .body{ transform: translate(0%,-990px); }
    .body_top_svg{ transform: translate(0%,-55px); }
    .body_bottom_svg{ transform: translate(0%,-180px); }
    .background_avater{ transform: translate(150px,-920px); }
    .wrapper{ transform: translate(-20%,-1250px); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(10%,-700%); }
    .logoholder{ transform: translate(10%,-120%); }
    .logo_1{ transform: scale(0.7); }
    .tab1{ transform: translate(580px,5%) scale(0.5) rotateZ(-10deg); }
    .tab1_text{ transform: translate(60%,-200px); }
    .tab2{ transform: translate(390px,-4%) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(60%,-200px); }
    .tab3{ transform: translate(200px,0%) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(50%,-200px); }
    
    .about_holder_1{ transform: translate(13%,0%); width: 88%; }
    .about_holder_2{ transform: translate(13%,0%); width: 88%; }
    
    .project_top_svg{ transform: translate(0%,-87%); }
    .red_background{ margin-bottom: -58%; margin-bottom: -45%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_3{ transform: translate(0%,-5%); }
}
@media screen and (min-device-width: 1280px) and (max-device-width: 1399px)       /* -------------- small PC ( S,M )  ------ */
{
    .header{ transform: translate(0%,-10%); }
    body{ background-color: black; }
    .body{ transform: translate(0%,-900px); }
    .body_top_svg{ transform: translate(0%,-50px); }
    .body_bottom_svg{ transform: translate(0%,-185px); }
    .background_avater{ transform: translate(100px,-830px); }
    .wrapper{ transform: translate(-30%,-1150px); }
    .background{ transform: translate(0%,0%); }
    .who_I_am{ width: 80%; transform: translate(10%,-700%); }
    .logo_1{ transform: translate(160px,-50px) scale(0.7); }
    .tab1{ transform: translate(500px,-7px) scale(0.5) rotateZ(-12deg); }
    .tab1_text{ transform: translate(50%,-200px); }
    .tab2{ transform: translate(350px,-35px) scale(0.5) rotateZ(-2deg); }
    .tab2_text{ transform: translate(50%,-200px); }
    .tab3{ transform: translate(200px,-30px) scale(0.5) rotateZ(6deg); }
    .tab3_text{ transform: translate(40%,-200px); }

    .about_holder_1{ transform: translate(13%,0%); width: 88%; }
    .about_holder_2{ transform: translate(13%,0%); width: 88%; }

    .project_top_svg{ transform: translate(0%,-87%); }
    .red_background{ margin-bottom: -58%; margin-bottom: -45%; }
    .project_bottom_svg{ transform: translate(0%,220%) rotateZ(180deg);}
    .project_holder_3{ transform: translate(0%,-5%); }
}